

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Volumes &mdash; Blender Manual</title>
  

  
  
    <link rel="shortcut icon" href="../../../_static/favicon.ico"/>
  
  
  
    <link rel="canonical" href="https://docs.blender.org/manual/en/latest/render/materials/components/volume.html"/>
  

  
  <script type="text/javascript" src="../../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../../" src="../../../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../../_static/language_data.js"></script>
        <script type="text/javascript" src="../../../_static/js/version_switch.js"></script>
        <script async="async" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>

    
    <link rel="search" type="application/opensearchdescription+xml"
          title="Search within Blender Manual"
          href="../../../_static/opensearch.xml"/>

  
  <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../../_static/css/theme_overrides.css" type="text/css" />
    <link rel="alternate" hreflang="en" href="https://docs.blender.org/manual/en/latest/">
    <link rel="alternate" hreflang="de" href="https://docs.blender.org/manual/de/latest/">
    <link rel="alternate" hreflang="es" href="https://docs.blender.org/manual/es/latest/">
    <link rel="alternate" hreflang="fi" href="https://docs.blender.org/manual/fi/latest/">
    <link rel="alternate" hreflang="fr" href="https://docs.blender.org/manual/fr/latest/">
    <link rel="alternate" hreflang="it" href="https://docs.blender.org/manual/it/latest/">
    <link rel="alternate" hreflang="ja" href="https://docs.blender.org/manual/ja/latest/">
    <link rel="alternate" hreflang="ko" href="https://docs.blender.org/manual/ko/latest/">
    <link rel="alternate" hreflang="nb" href="https://docs.blender.org/manual/nb/latest/">
    <link rel="alternate" hreflang="pt" href="https://docs.blender.org/manual/pt/latest/">
    <link rel="alternate" hreflang="ru" href="https://docs.blender.org/manual/ru/latest/">
    <link rel="alternate" hreflang="sl" href="https://docs.blender.org/manual/sl/latest/">
    <link rel="alternate" hreflang="sr" href="https://docs.blender.org/manual/sr/latest/">
    <link rel="alternate" hreflang="uk" href="https://docs.blender.org/manual/uk/latest/">
    <link rel="alternate" hreflang="vi" href="https://docs.blender.org/manual/vi/latest/">
    <link rel="alternate" hreflang="zh-Hans" href="https://docs.blender.org/manual/zh-hans/latest/">
    <link rel="alternate" hreflang="zh-Hant" href="https://docs.blender.org/manual/zh-hant/latest/">
    <link rel="alternate" hreflang="x-default" href="https://docs.blender.org/manual/en/latest/">
    
    <link rel="index" title="Index" href="../../../genindex.html" />
    <link rel="search" title="Search" href="../../../search.html" />
    <link rel="next" title="Displacement" href="displacement.html" />
    <link rel="prev" title="Surfaces" href="surface.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../../index.html" class="icon icon-home"> Blender 2.80 Manual
          

          
            
            <img src="../../../_static/blender-logo.svg" class="logo" alt="Logo"/>
          
          </a>

          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../../getting_started/index.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../interface/index.html">User Interface</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../editors/index.html">Editors</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../scene_layout/index.html">Scenes &amp; Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../modeling/index.html">Modeling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../sculpt_paint/index.html">Sculpting &amp; Painting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../grease_pencil/index.html">Grease Pencil</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../animation/index.html">Animation &amp; Rigging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../physics/index.html">Physics</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../index.html">Rendering</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../introduction.html">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../eevee/index.html">Eevee</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../cycles/index.html">Cycles</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../workbench/index.html">Workbench</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../cameras.html">Cameras</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../lights/index.html">Lights</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../index.html">Materials</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../introduction.html">Introduction</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="index.html">Components</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="surface.html">Surfaces</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">Volumes</a></li>
<li class="toctree-l4"><a class="reference internal" href="displacement.html">Displacement</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="../assignment.html">Assignment</a></li>
<li class="toctree-l3"><a class="reference internal" href="../preview.html">Preview</a></li>
<li class="toctree-l3"><a class="reference internal" href="../settings.html">Settings</a></li>
<li class="toctree-l3"><a class="reference internal" href="../legacy_textures/index.html">Legacy Textures</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../shader_nodes/index.html">Shader Nodes</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../color_management.html">Color Management</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../freestyle/index.html">Freestyle</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../layers/index.html">Layers &amp; Passes</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../output/index.html">Render Output</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../../compositing/index.html">Compositing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../movie_clip/index.html">Tracking &amp; Masking</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../video_editing/index.html">Video Editing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../files/index.html">Files &amp; Data System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../addons/index.html">Add-ons</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../advanced/index.html">Advanced</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../troubleshooting/index.html">Troubleshooting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../glossary/index.html">Glossary</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../about/index.html">About this Manual</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../index.html">Blender 2.80 Manual</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../../index.html">Rendering</a> &raquo;</li>
        
          <li><a href="../index.html">Materials</a> &raquo;</li>
        
          <li><a href="index.html">Components</a> &raquo;</li>
        
      <li>Volumes</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../../_sources/render/materials/components/volume.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="volumes">
<h1>Volumes<a class="headerlink" href="#volumes" title="Permalink to this headline">¶</a></h1>
<p>Volume rendering can be used to render effects like fire, smoke, mist, absorption in glass,
and many other effects that cannot be represented by surface meshes alone.</p>
<p>To set up a volume, you create a mesh that defines the bounds within which the volume exists.
In the material you typically remove the surface nodes and instead connect volume nodes to
define the shading inside the volume.
For effects such as absorption in glass you can use both a surface and volume shader.
The world can also use a volume shader to create effects such as mist.</p>
<div class="section" id="shading">
<h2>Shading<a class="headerlink" href="#shading" title="Permalink to this headline">¶</a></h2>
<div class="section" id="principled-volume">
<h3>Principled Volume<a class="headerlink" href="#principled-volume" title="Permalink to this headline">¶</a></h3>
<p><a class="reference internal" href="../../shader_nodes/shader/volume_principled.html"><span class="doc">Principled Volume</span></a>
is a physically-based volume shader that can be used to create a wide range of volume materials.
It supports scattering, absorption and emission in one easy to use node. Fire can be rendered with blackbody emission.</p>
<div class="figure align-center" id="id1">
<img alt="../../../_images/render_materials_components_volume_principled.jpg" src="../../../_images/render_materials_components_volume_principled.jpg" />
<p class="caption"><span class="caption-text">Smoke and fire rendered with Principled Volume shader.</span></p>
</div>
</div>
<div class="section" id="volume-components">
<h3>Volume Components<a class="headerlink" href="#volume-components" title="Permalink to this headline">¶</a></h3>
<p>For more control, volume shading components can be manually combined into a custom shader setup.</p>
<ul class="simple">
<li><a class="reference internal" href="../../shader_nodes/shader/volume_absorption.html"><span class="doc">Volume Absorption</span></a>
will absorb part of the light as it passes through the volume.
This can be used to shade for example black smoke or colored glass objects, or mixed with the volume scatter node.
This node is similar to the transparent BSDF node,
it blocks part of the light and lets other light pass straight through.</li>
<li><a class="reference internal" href="../../shader_nodes/shader/volume_scatter.html"><span class="doc">Volume Scatter</span></a>
lets light scatter in other directions as it hits particles in the volume.
The anisotropy defines in which direction the light is more likely to scatter.
A value of 0 will let light scatter evenly in all directions (similar to the diffuse BSDF node),
negative values let light scatter mostly backwards, and positive values let light scatter mostly forward.
This can be used to shade white smoke or clouds for example.</li>
<li><a class="reference internal" href="../../shader_nodes/shader/emission.html"><span class="doc">Emission</span></a>
will emit light from the volume, for example for fire.</li>
</ul>
<div class="figure align-center" id="id2">
<img alt="../../../_images/render_materials_components_volume_node.jpg" src="../../../_images/render_materials_components_volume_node.jpg" />
<p class="caption"><span class="caption-text">Volume Absorption, Scatter and Emission</span></p>
</div>
</div>
<div class="section" id="attributes">
<h3>Attributes<a class="headerlink" href="#attributes" title="Permalink to this headline">¶</a></h3>
<p>When rendering smoke and fire, volume attributes are used to define the shape and shading of the volume.
The Principled Volume shader will use them by default, while custom volume shaders can use
the Attribute node to get attributes such as density, color and temperature.</p>
</div>
<div class="section" id="density">
<h3>Density<a class="headerlink" href="#density" title="Permalink to this headline">¶</a></h3>
<p>All volume shaders have a density input.
The density defines how much of the light will interact with the volume,
getting absorbed or scattered, and how much will pass straight through. For effects such as
smoke you would specify a density field to indicate where in the volume there is smoke and
how much (density bigger than 0), and where there is no smoke (density equals 0).</p>
<p>Volumes in the real world consist of particles,
a higher density means there are more particles per unit volume. More particles means there is
a higher chance for light to collide with a particle and get absorbed or scattered,
rather than passing straight through.</p>
</div>
</div>
<div class="section" id="mesh-volumes">
<h2>Mesh Volumes<a class="headerlink" href="#mesh-volumes" title="Permalink to this headline">¶</a></h2>
<p>Meshes used for volume render should be closed and <a class="reference internal" href="../../../glossary/index.html#term-manifold"><span class="xref std std-term">manifold</span></a>.
That means that there should be no holes in the mesh.
Each edge must be connected to exactly two faces
such that there are no holes or T-shaped faces
where three or more faces are connected to an edge.</p>
<p>Normals must point outside for correct results.
The normals are used to determine if a ray enters or exits a volume,
and if they point in a wrong direction, or there is a hole in the mesh,
then the renderer is unable to decide what is the inside or outside of the volume.</p>
<p>These rules are the same as for rendering glass refraction correctly.</p>
</div>
<div class="section" id="world-volume">
<h2>World Volume<a class="headerlink" href="#world-volume" title="Permalink to this headline">¶</a></h2>
<p>A volume shader can also be applied to the world, filling the entire space.</p>
<p>Currently, this is most useful for night time or other dark scenes,
as the world surface shader or sun lights will have no effect if a volume shader is used.
This is because the world background is assumed to be infinitely far away,
which is accurate enough for the sun for example.
However, for modeling effects such as fog or atmospheric scattering,
it is not a good assumption that the volume fills the entire space,
as most of the distance between the sun and the earth is empty space.
For such effects it is be better to create a volume object surrounding the scene.
The size of this object will determine how much light is scattered or absorbed.</p>
</div>
<div class="section" id="multiple-scattering">
<h2>Multiple Scattering<a class="headerlink" href="#multiple-scattering" title="Permalink to this headline">¶</a></h2>
<p>Real-world effects such as scattering in clouds or subsurface scattering require many
scattering bounces. However, unbiased rendering of such effects can be noisy, so by default
the number of bounces is zero in Cycles, and no support is available in Eevee.
The effect you get when rendering with zero volume bounces is what is known as
“single scattering”, the effect from more bounces is “multiple scattering”.</p>
<p>For rendering materials like skin or milk that require multiple scattering,
subsurface scattering is more efficient and easier to control. Particularly the random walk
method can accurately render such materials.</p>
<p>For materials such as clouds or smoke that do not have a well defined surface,
volume rendering is required. These look best with many scattering bounces,
but in practice one might have to limit the number of bounces to keep render times acceptable.</p>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="displacement.html" class="btn btn-neutral float-right" title="Displacement" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="surface.html" class="btn btn-neutral float-left" title="Surfaces" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright : This page is licensed under a CC-BY-SA 4.0 Int. License

    </p>
  </div> 

</footer>

        </div>
      </div>

    </section>

  </div>
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="document versions">
<ul id="versionwrap" role="presentation">
   <li style="float:left" role="presentation">
		<span id="version-dropdown" class="version-btn" tabindex="0" role="button" aria-label="versions selector" aria-haspopup="true" aria-controls="version-vsnlist" aria-disabled="true">
		2.80 
		</span>
		<ul id="version-vsnlist" class="version-list" role="menu" aria-labelledby="version-dropdown" aria-hidden="true">
			<li role="presentation">Loading...</li>
		</ul>
	</li>
   <li style="float:right" role="presentation">
		<span id="lang-dropdown" class="version-btn" tabindex="0" role="button"  aria-label="language selector" aria-haspopup="true" aria-controls="version-langlist">
			 en 
		</span>
		<ul id="version-langlist" class="version-list" role="menu" aria-labelledby="lang-dropdown" aria-hidden="true">
			<li role="presentation">Loading...</li>
		</ul>
	</li>
</ul>
</div>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
  
 
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-1418081-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

</body>
</html>